
.features h2{
    text-align: center;
    color: #333333;
    font-weight: 500;
   
    font-size: 29px;
    line-height: 29px;
    margin-bottom: 0px;
   
   }
   
   .featured-categories {
     display: grid;
     grid-template-columns: repeat(3, 1fr); 
     gap: 20px; 
     padding: 20px;
   }
   
   .category-card {
     display: flex; 
     align-items: center;
     padding: 25px;
     border-radius: 10px;
     border: 1px solid #e0e0e0;;
     flex-wrap: wrap;
   
    ; 
   }
   .category-card:hover{
     cursor: pointer;
     transition: ease-in 0.4s;
     border-color: #191a1a;
   }
   
   .card-links {
     flex: 1; 
     padding-right: 10px; 
   }
   
   .card-links a {
     display: block; 
     color: #333;
     text-decoration: none;
     margin-bottom: 5px;
     font-size: 16px;
 
   }
   
   .card-links a:hover {
     color: #ec8653; 
   }
   
   .card-image {
     flex: 1; 
     text-align: center; 

   }
   
   .card-image img {
     /* max-width: 100%; */
     height: 137px;
     border-radius: 5px; 
     width: 119px;
   }
   @media (max-width: 768px) {
    .featured-categories{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
    }
    
   }
  
   @media (max-width: 1024px) {
    .featured-categories {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .featured-categories {
      grid-template-columns: 1fr; 
    }
  }
  
  