.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  width: 100vw;
  height: auto;
  padding: 5px 30px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.box2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.custom-select {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14.5px;
  color: #333333;
  cursor: pointer;
  font-weight: 400;

  line-height: 29px;
}

.custom-select:focus {
  outline: none;
}

.custom-select:hover {
  color: chocolate;
}

.link {
  text-decoration: none;
  line-height: 29px;
  color: #333333;

  font-size: 14.5px;
  font-weight: 400;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.link:hover {
  color: rgb(218, 144, 64);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .box1,
  .box2 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .custom-select {
    font-size: 12px;
  }

  .link {
    font-size: 12px;
  }
}
